<!DOCTYPE html>
<!-- Created by Harsh Prajapati -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 404 | dot Quiz</title>
    <link rel="stylesheet" href="/stylesheets/output.css">
    <link rel="stylesheet" href="/stylesheets/style.css">

</head>

<body class="bg-[var(--dark-bg)] text-white select-none overflow-hidden">
    <!-- ------ main starts here ---------  -->
    <main>
        <div class="hero-container w-full min-h-[100vh] h-auto flex items-center ">
            <div class="hero-left w-1/2 h-full flex items-center justify-center">
                <div class="flex flex-col items-start justify-center">
                    <h1 class="text-5xl">404 Error <br> <span class="font-extrabold"> Page not found</span> </h1>
                </div>
            </div>
            <div class="hero-right w-1/2 h-full flex justify-center items-center">
                <h1 class="text-xl">Go to home, click below<br> <a href="/" class="text-3xl font-extrabold text-[var(--primary-color)]"> dot Quiz </a> </h1>
            </div>
        </div>
    </main>
    <!-- ------ main ends here ---------  -->
</body>

</html>