<!DOCTYPE html>
<!-- Created by Harsh Prajapati -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel | dot Quiz</title>
    <link rel="stylesheet" href="/stylesheets/output.css">
    <link rel="stylesheet" href="/stylesheets/style.css">

</head>


<body class="bg-[var(--dark-bg)] text-white select-none overflow-x-hidden p-6 ">
    <!-- ---- message ----  -->
    <div class="message">
        <h1 class="msg text-3xl ">Hello Admin </h1>
        <p class="italic mt-4 text-base">Here you can create, edit and delete topics and question sets.</p>
    </div>
    <!-- ---- message ----  -->

    <!-- ------ Add Topics -----  -->
    <div class="addTopics bg-[var(--light-bg)] mt-6 p-4 rounded-sm">
        <h3 class="text-base font-semibold">Add new topic </h3>

        <form action="/admin/newtopic" method="post" class="p-6" enctype="multipart/form-data">
            <label for="topicName" class="text-base">Enter your topic name <small>(folder will be created of same name
                    and case)</small></label><br>
            <input id="topicName" type="text" name="topicname" placeholder="Topic" required
                class="w-80 mt-4 border-none outline-none rounded-sm px-2 py-1 text-zinc-800 max-mobile:min-w-full"><br>

            <label for="topicIcon" class="inline-block text-base mt-4">Selet an icon related to topic</label><br>
            <input type="file"  name="topicIcon" id="topicIcon"
                class="mt-4 border-none outline-none rounded-sm px-2 py-1 text-zinc-800 max-mobile:min-w-full"><br>
            <input type="submit" value="Add"
                class="mt-4 bg-[var(--green)] text-base px-4 py-2 cursor-pointer rounded-md  ">
        </form>
    </div>
    <!-- ------ Add Topics -----  -->

    <!-- ------ Add Question set -----  -->
    <div class="addset bg-[var(--light-bg)] mt-6 p-4 rounded-sm">
        <h3 class="text-base font-semibold">Add new question set </h3>

        <form action="/admin/newset" method="post" class="p-6 ">
            <label for="topics" class="text-base mt-6 inline-block">Paste the json code of questions</label><br>

            <select  name="topic" id="topics" class="text-zinc-800 px-4 py-1 outline-none cursor-pointer mt-4"
                onchange="loadSets(this.value)">
                <option class="hover:bg-red-400" value="">--select--</option>
                <% topics.forEach((topic)=> {%>
                    <option class="hover:bg-red-400" value="<%= topic._id %>">
                        <%= topic.topicname %>
                    </option>
                    <%})%>
            </select><br>

            <div class="topic-sets mt-4 ">
                <p class="text-base italic ml-4 ">Existing sets</p>
                <div id="topic-sets-container" class="flex flex-wrap mt-4">
                </div>
            </div>





            <label for="setname" class="text-base mt-6 inline-block">Enter your set name <small>(file will be created of
                    same name and case)</small></label><br>
            <input  id="setname" type="text" name="setname" placeholder="Enter the set name"
                class="w-80 mt-4 border-none outline-none rounded-sm px-2 py-1 text-zinc-800 max-mobile:min-w-full"><br>

            <label  for="questions" class="text-base mt-6 inline-block">Paste the json code of questions</label><br>
            <textarea required name="questions" id="questions"
                class=" text-zinc-800 mt-4 min-w-[400px] resize-none min-h-[600px] max-mobile:min-w-full"></textarea><br>
            <input type="submit" value="Add"
                class="mt-4 bg-[var(--green)] text-base px-4 py-2 cursor-pointer rounded-md ">
        </form>
    </div>
    <!-- ------ Add Question set -----  -->

    <!-- now add the input field to delete the files and topics -->


    <!-- danger zone -->
     <div class="logout-container mt-8">
        <a href="/logout/admin" class="px-4 py-2 bg-[var(--red)] rounded-md cursor-pointer">Logout</a>
     </div>
    <!-- danger zone -->

    <!-- Footer start here  -->
    <footer class="w-full mt-6 py-4 ">
        <p class="text-base text-center ">Made by <span class="font-semibold italic">DotHp</span> with ❤️</p>
    </footer>
    <!-- Footer ends here -->


</body>

<script>
    
    const topics = JSON.parse('<%- JSON.stringify(topics) %>');
    const loadSets = (value) => {

        const container = document.getElementById('topic-sets-container');
        container.innerHTML= '';
        let i;
        let selectedTopic = topics.find(topic => topic._id === value);
        
        let sets = selectedTopic.sets ;
        if(sets.length >0 ){

            sets.forEach((set)=>{
                let element = document.createElement("span");
                element.className= 'inline-block px-4 py-3 text-base border-[1px] border-white bg-[var(--dark-bg)]'
                element.textContent = set.name;
                container.appendChild(element);
            })
        }else{
            let para = document.createElement("p")
            para.className = 'text-base opacity-70 '
            para.textContent = "No existing set";
            container.appendChild(para);

        }
    }
</script>

</html>