<!DOCTYPE html>
<!-- Created by Harsh Prajapati -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dot Quiz | Harsh Prajapati</title>
    <link rel="stylesheet" href="/stylesheets/output.css">
    <link rel="stylesheet" href="/stylesheets/style.css">

</head>

<body class="bg-[var(--dark-bg)] text-white select-none overflow-hidden">
    <!-- ------ main starts here ---------  -->
    <main>
        <div class="hero-container w-full min-h-[100vh] h-auto flex items-center ">
            <div class="hero-left w-1/2 h-full flex items-center justify-center">
                <div class="flex flex-col items-start justify-center">
                    <h1 class="text-5xl">Welcome to the <br> <span class="font-extrabold"> Quiz App</span> </h1>
                    <p class="italic text-base mt-6">Pick a subject to get started</p>
                </div>
            </div>
            <div class="hero-right w-1/2 h-full flex justify-center items-center">
                <div class="topic-container flex flex-col gap-4">

                    <% topics.forEach((topic)=>{ %>
                        <!-- topic  -->
                        <a href="<%= '/sets/' + topic.name %>" class="topic w-80 bg-[var(--light-bg)] p-4 flex items-center rounded-lg cursor-pointer"
                            data-topic="html">
                            <span class="inline-block h-10 w-10 bg-white rounded-lg p-1 ">
                                <img src="<%= topic.img %>" alt="img" class="w-full h-auto object-contain object-center">
                            </span>
                            <h3 class="text-base ml-6"><%= topic.name %></h3>
                        </a>
                        <!-- topic  -->
                     <% })%>
                </div>
            </div>
        </div>
    </main>
    <!-- ------ main ends here ---------  -->
</body>

</html>