<!DOCTYPE html>
<!-- Created by Harsh Prajapati -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/stylesheets/output.css">
    <link rel="stylesheet" href="/public/stylesheets/style.css">
</head>
<body>

    <form action="/test/submit" method="post">
        <input type="text" name="name" placeholder="name">
        <input type="email" name="email" placeholder="email">
        <input type="number" name="contact" placeholder="contact">
        <input type="password" name="password" placeholder="password">
        <input type="submit" value="submit">
    </form>
        
</body>
</html>